#main-body{
  border-radius: 15px;
  background-color: #143AA2;
  border-color: white;
  border-style: solid;
}
#main-area{
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  background-color: #04060D;
}
.image{
  display: block;
}
.imageText{
  font-family: 'Kode Mono';
  color: white;
  float: right;
  vertical-align: middle;
}
