@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap')

#bio{
  margin: 10px;
}
#main-body{
  border-radius: 15px;
  background-color: #143AA2;
  border-color: white;
  border-style: solid;
}
#banner{
  vertical-align: center;
  background-image:url('../../images/index_background.jpg');
  height:400px;
  margin-left:20px;
  margin-right: 20px;
  margin-top: 20px;
}
.bannertext{
  text-align: center;
  background-color:black;
  color:white;
  font-family: "Kode Mono";
  padding-top: 1px;
  padding-bottom: 1px;
}
#textbody{
  background-color: #04060D;
  color: white;
  font-family: "Kode Mono";
  margin-left: 20px;
  margin-right: 20px;
}
