#bio{
  margin: 10px;
}
#main-body{
  border-radius: 15px;
  background-color: tan;
}
#navbar{
  height:30px;
  background-color: powderblue;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.navbutton{
  text-align: center;
  vertical-align: center;
  margin-bottom: -5px;
  width: 10%;
  height: 25px;
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}
#banner{
  vertical-align: center;
  background-image:url('../../images/index_background.jpg');
  height:400px;
  margin-left:20px;
  margin-right: 20px;
}
.bannertext{
  text-align: center;
  background-color:black;
  color:white;
}
#textbody{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
