#bio{
  margin: 10px;
}
#main-body{
  border-radius: 15px;
  background-color: tan;
}
#banner{
  vertical-align: center;
  background-image:url('../../images/index_background.jpg');
  height:400px;
  margin-left:20px;
  margin-right: 20px;
}
.bannertext{
  text-align: center;
  background-color:black;
  color:white;
}
#textbody{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
