#navhead{
  height:30px;
  background-color: powderblue;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  margin-top: -2px;
}
#navbar{
  background-color: black;
  border-radius: 10px;
}
.navbutton{
  text-align: center;
  width: 30%;
  min-width: 60px;
  height: 25px;
  background-color: darkgray;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2.5px;
  margin: 2px;
  z-index: 10;
  position: absolute;
  float: none;
}
.openclosebutton{
  text-align: center;
  width: 10%;
  min-width: 60px;
  height: 25px;
  background-color: darkgray;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2.5px;
  margin: 2px;
}
