#main-body{
  border-radius: 15px;
  background-color: tan;
}
#main-area{
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
#tablecontainer{
  margin: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
