#main-body{
  border-radius: 15px;
  background-color: #143AA2;
  border-color: white;
  border-style: solid;
}
#main-area{
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  background-color: #272829;
}
#tablecontainer{
  margin: 10px;
}

table {
  font-family: "Kode Mono";
  color: white;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #272829;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #171717;
}
